@import url('satoshi.css');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif 'arial';
}



.h4 {
  color: greenyellow;
}

.parent {
  position: relative;
  text-align: center;
}

.responsive {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 20%;
  left: 5%;
  font: 12vw 'Satoshi-Bold';
  color: #f5f5f5;
}

/* h1 {
  font: 96px 'Satoshi-Bold';
  color: #2e2e2e;
} */